<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "networkApp"
        version     = "1.0.0" >

    <name>Network</name>
    <description>Network application</description>
    <author email="moniaa_s@op.pl">
		Monika Stach
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" source="npm" version="1.2.1" />

</widget>
